body {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}
.login {
    height: 97vh;
}
.title {
    width: 80%;
    margin-top: 20vh;
    position: fixed;
}
#title {
    font-weight: 700;
    font-size: 5vw;
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pull-right {
    margin-top: -38px;
}
#slogan {
    font-weight: 300;
    font-size: 2vw;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    font-family: Times;
    font-style: italic;
}
select:focus,
textarea:focus,
input:focus,
button:focus {
    outline: none;
}
#userid,
#access-token {
    display: none;
}
.users {
    margin-top: 35%;
}
.container {
    padding: 0 !important;
}
input {
    font-weight: 300;
    font-size: 1.5vw;
    width: 50%;
    height: 50%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
}
::-moz-selection {
    background: none;
    color: none;
}
::selection {
    background: none;
    color: none;
}
.button,
.button-left,
.button-right,
.button-center,
.button-right-no-margin {
    font-weight: 300;
    font-size: 1.5vw;
    height: 100%;
    display: inline;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    padding: 8px 14px 8px 14px;
    background-color: transparent;
    background-image: none;
}
.button {
    margin-bottom: 8%;
}
.button-right,
.button-right-no-margin {
    float: right;
}
.button-left,
.button-right,
.button-center {
    margin-top: 9.2%;
}
div .row {
    text-align: center;
}
div .page-content {
    text-align: left;
}
select {
    font-weight: 300;
    font-size: 1.5vw;
    width: 60%;
    height: 100%;
    display: block;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    background-image: none;
    margin-bottom: 10%;
    padding: 2px;
}
input[type="text"] {
    background: transparent;
}
::-webkit-input-placeholder {
    color: white;
    opacity: 0.3;
}
:-moz-placeholder {
    color: white;
    opacity: 0.3;
}
::-moz-placeholder {
    color: white;
    opacity: 0.3;
}
:-ms-input-placeholder {
    color: white;
    opacity: 0.3;
}
:focus::-webkit-input-placeholder {
    color: transparent;
}
:focus::-moz-placeholder {
    color: transparent;
}
:focus:-moz-placeholder {
    color: transparent;
}
:focus:-ms-input-placeholder {
    color: transparent;
}
a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: white;
}
a p {
    text-decoration: underline;
}
.album-page,
.playlist-page,
#playlist-results {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin-top: 200px;
    z-index: 10;
    position: absolute;
    font-size: 55px;
}
h3 {
    margin-top: 200px;
    z-index: 10;
    font-size: 55px;
}
h2 {
    margin-top: 300px;
    z-index: 10;
    position: absolute;
    font-size: 40px;
    font-family: Times;
    font-style: italic;
}
.play {
    margin-top: 1%;
    text-align: center;
    font-size: 12px;
}
.img {
    margin-top: 15%;
}
.page-load p,
.mix-load p,
.error p {
    font-weight: 500;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    margin: 25% auto auto auto;
    font-size: 40px;
}
.img-track {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
.track-number {
    margin-top: 5%;
    text-align: center;
}
.bubble {
    margin-top: 3.5%;
}
svg {
    overflow: visible !important;
}
#img1 img,
#img2 img {
    border-radius: 50%;
}
.circular p {
    font-size: 1.1vw;
    color: white;
    margin-left: 60px;
    margin-top: 15px;
}
.circular img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    float: left;
}
.cover {
    width: 300px;
    height: 300px;
    background-size: cover;
    margin: 0 auto;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #ffffff;
}
